<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: '字幕データを検索する'}) %>
		<meta property="og:site_name" content="字幕データを検索する"/>
		<meta property="og:url" content="<%= rootURL %>"/>
		<meta property="og:title" content="字幕データを検索する"/>
		<meta property="og:type" content="Website" />
		<meta property="og:description" content=""/>
		<style>
			h1 {
				position: relative;
				padding: 0.5em;
				background: #a6d3c8;
				color: white;
			}

			h1::before {
				position: absolute;
				content: '';
				top: 100%;
				left: 0;
				border: none;
				border-bottom: solid 15px transparent;
				border-right: solid 20px rgb(149, 158, 155);
			}
		</style>
	</head>
	<body>
		<div class="container p-5">

			<h1>字幕データを検索する</h1>
			
			<div class="row mb-3">
				<div class="col">
					<div class="mb-3" id="tags"></div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col text-center">
					© 2021 UDトーク All rights reserved.
				</div>
			</div>
		</div>

		<script>
			$(function () {
				reloadRequest(0) ;
			}) ;
			
			async function reloadRequest(page) {
	
				let spinner = '<div class="d-flex justify-content-center"><div class="spinner-border my-3" role="status"><span class="visually-hidden">Loading...</span></div></div>' ;
				
				$("#tags").empty() ;
				$("#tags").append(spinner) ;
				$("#pagenation").empty() ;
				
				let data = await fetch("/tagData").then(response => response.json()) ;
				
				$("#tags").empty() ;
				$("#pagenation").empty() ;
				
				for (let key in data.tags) {
					let tag = data.tags[key] ;
	
					$("#tags").append(tagBlock(tag)) ;
				}
	
				let ul = $('<ul class="pagination">') ;
	
				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(0);">最初</a></li>') ;
	
				for (let i=0; i<data.pageCount; i++) {
					if (i == data.page) {
						ul.append('<li class="page-item active"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					} else {
						ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					}
				}
	
				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + (data.pageCount - 1) + ');">最後</a></li>') ;
	
				$("#pagenation").append('<nav aria-label="Page navigation example">')
					.append('<ul class="pagination">').append(ul) ;
			}
	
			function tagBlock(tag) {
				let linkString = "<%= rootURL %>" + "/search/" + tag.name ;

				return `<div class="card my-3">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title mb-2">${tag.displayName}</h5>
										<a href="${linkString}" class="card-link">${linkString}</a>
										<div class="card-text mb-2">${tag.description}</div>
									</div>
								</div>
							</div>
						</div>` ;
			}
		</script>

	</body>
</html>
