<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: '字幕データを検索する'}) %>
	</head>
	<body>
		<div class="container p-5">

			<h1>字幕データを検索する</h1>
			
			<div class="row mb-3">
				<div class="col">
					<%= tag.displayName %>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col">
					<%= tag.description %>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<h2>動画一覧</h2>
				</div>
			</div>
		</div>
	</body>
</html>
