<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: userProfile.organization}) %>
	</head>
	<body>
		<div class="container p-2">

			<h1><%= userProfile.organization %> - 字幕データから動画を検索</h1>
			
			<div class="row mb-3">
				<div class="col">
					<%= userProfile.description %>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<h2>動画一覧</h2>
				</div>
			</div>
		</div>
	</body>
</html>
