<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: '字幕データを検索する'}) %>
	</head>
	<body>
		<div class="container p-5">

			<h1>字幕データを検索する</h1>

			<div class="row">
				<div class="col">
					<h2>ようこそ <%= userProfile.displayName %> さん</h2>
				</div>
			</div>
			
			<div>このサービスを使用するには申し込みが必要です。</div>
		</div>
	</body>
</html>