<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/head', {title: '字幕データを検索する'}) %>
	</head>
	<body>
		<div class="container p-5">
			<h1>字幕データを検索する</h1>
			<p>認証するためのURLを記載したメールを送信しました。クリックして認証してください。</p>
			<a href="/">認証しました</a>
		</div>
	</body>
</html>
