<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/admin">ホーム</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/tags">タグ一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/signout">サインアウト</a>
    </li>
</ul>